name: publish-nuget

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:

    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Create NuGet Package
      run: dotnet pack -c Release 
                    /p:ContinuousIntegrationBuild=true 
                    /p:Version=${{ github.event.release.tag_name }} 
                    /p:PackageReleaseNotes="See https://github.com/chrisfactory/SignalR.Proximity/releases/tag/${{ github.event.release.tag_name }}"
      working-directory: ./src

    - name: Archive SignalR.Proximity.Core NuGet Package
      uses: actions/upload-artifact@v4
      with:
        name: SignalR.Proximity.Core
        path: ./src/SignalR.Proximity.Core/bin/Release/SignalR.Proximity.Core.${{ github.event.release.tag_name }}.symbols.nupkg

    - name: Archive SignalR.Proximity NuGet Package
      uses: actions/upload-artifact@v4
      with:
        name: SignalR.Proximity
        path: ./src/SignalR.Proximity/bin/Release/SignalR.Proximity.${{ github.event.release.tag_name }}.symbols.nupkg

    - name: Archive SignalR.Proximity.Hosting NuGet Package
      uses: actions/upload-artifact@v4
      with:
        name: SignalR.Proximity.Hosting
        path: ./src/SignalR.Proximity.Hosting/bin/Release/SignalR.Proximity.Hosting.${{ github.event.release.tag_name }}.symbols.nupkg

    - name: Publish Nuget Package
      run: dotnet nuget push **/*.symbols.nupkg --api-key ${{ secrets.SIGNALR_PROXIMITY_NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json 

      